
<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume">
	<div class="container">
		<div class="ten columns">
			<div class="resume-titlebar">
				<%= image_tag "resumes-list-avatar-01.png" %>
				<% if @resume %>
				<div class="resumes-list-content">
					<h4><%= @resume.user.first_name.capitalize %>&nbsp;<%= @resume.user.middle_name.capitalize %>&nbsp;<%=@resume.user.last_name.capitalize %><span><%= @resume.profession.capitalize %></span></h4>
					<span class="icons"><i class="fa fa-map-marker"></i> <%= @resume.user.location.capitalize%></span>
					<div class="clearfix"></div>

				</div>
				<% end %>
			</div>
		</div>

		<div class="six columns">
			<div class="two-buttons">
			<% unless current_user %>
				<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>

				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Send Message to John Doe</h2>
					</div>

					<div class="small-dialog-content">
						<form action="#" method="get" >
							<input type="text" placeholder="Full Name" value=""/>
							<input type="text" placeholder="Email Address" value=""/>
							<textarea placeholder="Message"></textarea>

							<button class="send">Send Application</button>
						</form>
					</div>
					
				</div>
				<a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Resume</a>
				<% else %>
				<p>
				<% if @resume %>
				<%= link_to "Edit Resume", user_add_resumes_url, class: "button border fw margin-top-10" %>
				<% else %>
				<%= link_to "Add Resume", user_add_resumes_url, class: "button border fw margin-top-10" %>
				<% end %>
				</p>
				<% end %>

			</div>
		</div>

	</div>
</div>

<% if @resume %>
	
<!-- Content
================================================== -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="eight columns">
	<div class="padding-right">

		<h3 class="margin-bottom-15">About Me</h3>

		<p class="margin-reset">
			<%= @resume.resume_content %>
		</p>

		<br>

		<p>Worked  at <strong><%= @resume.experience_institute %></strong> under <%= @resume.employer %> from <%= @resume.experience_start_date %> to <%= @resume.experience_end_date %></p>

		
				<p><%= @resume.experience_note %></p>

	</div>
	</div>


	<!-- Widgets -->
	<div class="eight columns">

		<h3 class="margin-bottom-20">Education</h3>

		<!-- Resume Table -->
		<dl class="resume-table">
		
			<dt>
				<small class="date"><%= @resume.education_start_date %> / <%= @resume.education_end_date %></small>
				<strong><%= @resume.school_name%></strong>
				<strong><%= @resume.qualification %></strong>
			</dt>
			<dd>
				<p><%= @resume.education_note %></p>
			</dd>

		</dl>

	</div>

</div>
<% end %>